services:
  - type: web
    name: smart-financial-ratio-analyzer-api
    runtime: python
    pythonVersion: "3.11"
    region: oregon
    plan: free
    
    buildCommand: |
      cd backend
      pip install --upgrade pip
      pip install -r requirements.txt
    
    startCommand: |
      cd backend
      uvicorn main:app --host 0.0.0.0 --port $PORT
    
    envVars:
      - key: GEMINI_API_KEY
        sync: false
      - key: DEBUG
        value: "false"
      - key: HOST
        value: "0.0.0.0"
